# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

todo-notes.txt
.vscode
*.code-workspace

#examples/wip
examples/wip2

tmp

