# Local .gitignore for the wasm test suite
# We want to ignore any file that the test generates
# These are the:
# *.wasm - generated wasm files
# index.html - as thisis created dynamiclly from the index.html.tmpl template buy the test itself

*.wasm
index.html

# ignore wasm_exec.js as this should be copied from the GOROOT by the build process
wasm_exec.js
